@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: darkgrey;
}



.header {
    position: fixed;
    background-color: rgb(82, 82, 82);
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    margin-bottom: 10px;
}

.logoimg{
    display: flex;
    align-items: center;
}

#logo{
    position: relative;
    height: 120px;
    padding-left: 0;
    padding-right: 10px ;
}





header .logo{
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

header .navbar{
    position: relative;
    display: flex;
}

header .navbar li{
    list-style: none;
    margin-left: 20px;
}

header .navbar li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    text-transform: uppercase;
}

header .navbar li a:hover{
    background-color: rgb(100, 100, 100);
    color: white;
    transition: 0.3s;
}

.div-form{
    display: inline-block;
}
.titulo_form{
    margin-top: 80px;
    margin-left: 80px;
}

.form {
    width: 50%;
    background-color: beige;
    margin-right: 250px;
    margin-left: 80px;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px; /* Agrega un margen superior al formulario */
}


.mapa{
    width: 50em;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 200px; 
    padding: 20px;
    border-radius: 5px;
    border-color: antiquewhite;
}