/*Estilos*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

body{
    background-color: #949d9a;   
}


.header{
    background-color: #737b78;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo img{
    height: 80px;
    width: auto;
    margin-right: 10px;
}

.logo {
    display: flex;
    margin-right: 10px;
}

.logo h2{
    margin-top: 10%;
}

.header .paginas {
    list-style: none;
}

.header .paginas li{
    display: inline-block;
    padding: 0 10px;
}

.header .paginas a{
    text-decoration: none;
    color: black;
}

.header .paginas li:hover{
    background-color: #515956;
    transform: scale(1.08);
}

.header .paginas a:hover{
    color: wheat;
}

#buscador{
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}


.search-form {
    display: flex;
    width: auto; /* Ajusta el ancho del buscador según tus necesidades */
}

.search-form input {
    flex: 1; /* Hace que el campo de entrada ocupe todo el espacio disponible */
    padding: 5px;
}

.search-form button {
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}


